<!DOCTYPE html>
<html lang="en">
  <h1>"Our Project"</h1>
  <main>
    <div>
      Our goal in this project is to develop a basic Express application.
      This will be done as a team with a mentor to practice good git habits.
    </div>
    <pre>
      The Express application must meet the following requirements:
      * [X] GET /            => Displays a hello world HTML page.
      * [X] GET /hello/:name => Displays a hello page to a specific person.
      * [ ] GET /about       => Displays some information about this project (it can be the same as the README.)
      * [ ] If a request does not match the above, display a 404 Page and appropriate HTTP status.
    </pre>
  </main>
</html>
